segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
nippy @ git+https://github.com/uef-bbc/nippy
supervision==0.25.1
pysptools==0.15.0
kennard-stone==3.0.0
pycaltransfer==0.1.8
ultralytics==8.3.181